.detail-folder-page {
  display: grid;
  flex-wrap: wrap;
  gap: 1px;
  padding-top: 40px;

  .content-detail-page {
    display: grid;
    gap: 16px;
  }

  .header-detail-page {
    display: flex;
    gap: 32px;
    font-size: 15px;

    .author {
      display: flex;
      gap: 10px;
      cursor: pointer;

      .creator {
        color: rgb(90, 88, 88);
      }

      .thumbnail {
        width: 24px;
        height: 24px;
        border-radius: 50%;
        border: 0.2px solid gray;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }
    }
  }

  .title-detail-page {
    font-size: 38px;
    font-weight: 700;
    display: flex;
    gap: 16px;
    width: 100%;

    .name-folder {
      white-space: nowrap !important;
      overflow: hidden !important;
      text-overflow: ellipsis !important;
    }

    .icon-title-detail-page {
      color: gray;
      font-size: 45px;
    }
  }
}

@media only screen and (max-width: 991px) {
  .detail-folder-page {
    .content-detail-page {
      .list-recent {
        display: block;
        grid-template-columns: auto;
        .item {
          margin-bottom: 16px;
        }
      }
    }

    .icon-title-detail-page {
      display: none;
    }
  }
}
