.detail-folder-page {
  display: grid;
  flex-wrap: wrap;
  gap: 1px;
  padding-top: 40px;

  .content-detail-page {
    display: grid;
    gap: 16px;
  }

  .header-detail-page {
    display: flex;
    gap: 32px;
    font-size: 15px;

    .author {
      display: flex;
      gap: 10px;
      cursor: pointer;

      .creator {
        color: rgb(90, 88, 88);
      }

      .thumbnail {
        width: 24px;
        height: 24px;
        border-radius: 50%;
        border: 0.2px solid gray;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }
    }

    .group-icon-detail-folder {
      .icon {
        transition: 0.2s;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 2px solid rgb(221, 221, 221);
        font-size: 20px;
      }

      .icon:hover {
        background-color: rgb(234, 234, 234);
      }
    }
  }

  .title-detail-page {
    font-size: 38px;
    font-weight: 700;
    display: flex;
    gap: 16px;
    width: 100%;

    .name-folder {
      white-space: nowrap !important;
      overflow: hidden !important;
      text-overflow: ellipsis !important;
    }

    .icon-title-detail-page {
      color: gray;
      font-size: 45px;
    }
  }
}

.modal-show-course {
  .ant-modal-content {
    background-color: rgb(245, 245, 245);
  }
}

.add-course {
  background-color: #fff;
  height: 83px;
  width: 100%;
  font-size: 15px;
  font-weight: 700;
  cursor: pointer;

  .button {
    border-bottom: 3px solid #3ccfcf;
    padding-bottom: 7px;
    padding-right: 2px;
  }

  .button:hover {
    color: #ffce1f;
    border-bottom: 3px solid #ffce1f;
  }
}

.container-empty-folder {
  padding-bottom: 50vh;

  .header {
    font-size: 30px;
    font-weight: 700;
  }

  .description {
    font-size: 16px;
    font-weight: 300;
  }

  .button-add-course {
    margin-top: 15px !important;
    margin: auto;
    width: fit-content;
    width: 148px;
    height: 42px;
    background-color: #3ccfcf;
    color: #fff !important;
    font-weight: 500;
  }

  .button-add-course:hover {
    background-color: #3ab7b7;
  }
}

.title-modal-show-course {
  background-color: #4255ff;
  position: absolute;
  inset-inline: 0;
  inset-block-start: 0;
  padding: 32px;
  font-size: 30px;
  font-weight: 700;
  color: #fff;
}

.item-course {
  word-break: break-all;
}

@media only screen and (max-width: 991px) {
  .detail-folder-page {
    .content-detail-page {
      .list-recent {
        display: block;
        grid-template-columns: auto;
        .item {
          margin-bottom: 16px;
        }
      }
    }

    .icon-title-detail-page {
      display: none;
    }
  }
}
