.home-logged {
  padding: 40px 0;
  display: grid;
  gap: 40px;
  .new-feature {
    display: grid;
    gap: 16px;

    .new-feature-header {
      font-weight: 600;
      font-size: 20px;
    }

    .new-feature-list {
      display: flex;
      gap: 16px;
      height: 293px;
      overflow-x: scroll;
      padding: 5px;
      justify-content: space-between;

      .item {
        transition: 0.3s;
        height: 100%;
        width: 100%;
        min-width: 300px;
        border-radius: 16px;
        overflow: hidden;

        .thumbnail {
          transition: 0.3s;
          height: 100%;
          width: 100%;
          border-top-right-radius: 16px;
          border-top-left-radius: 16px;
          height: 10.5625rem;
        }

        .description {
          padding: 16px;
          display: grid;
          gap: 4px;

          .title {
            font-size: 16px;
            font-weight: 700;
            line-height: 24px;
          }

          .description-sub {
            font-size: 14px;
            font-weight: 400;
          }
        }
      }

      .item:hover {
        .thumbnail {
          scale: 1.1;
        }
      }
    }
  }
}

.main-recent-section {
  display: grid;
  gap: 16px;
  .header-recent-section {
    font-size: 20px;
    font-weight: 600;
  }
}

@media only screen and (max-width: 991px) {
  .main-recent-section {
    .list-recent {
      display: block;
      grid-template-columns: auto;
      .item {
        margin-bottom: 16px;
      }
    }
  }
}
