.home-logged {
  padding: 40px 0;
  display: grid;
  gap: 40px;
  .new-feature {
    display: grid;
    gap: 16px;

    .new-feature-header {
      font-weight: 600;
      font-size: 20px;
    }

    .new-feature-list {
      display: flex;
      gap: 16px;
      height: 293px;
      overflow-x: scroll;
      padding: 5px;
      justify-content: space-between;

      .item {
        transition: 0.3s;
        height: 100%;
        width: 100%;
        min-width: 300px;
        border-radius: 16px;
        overflow: hidden;

        .thumbnail {
          transition: 0.3s;
          height: 100%;
          width: 100%;
          border-top-right-radius: 16px;
          border-top-left-radius: 16px;
          height: 10.5625rem;
        }

        .description {
          padding: 16px;
          display: grid;
          gap: 4px;

          .title {
            font-size: 16px;
            font-weight: 700;
            line-height: 24px;
          }

          .description-sub {
            font-size: 14px;
            font-weight: 400;
          }
        }
      }

      .item:hover {
        .thumbnail {
          scale: 1.1;
        }
      }
    }
  }
}

.main-recent-section {
  display: grid;
  gap: 16px;
  .header-recent-section {
    font-size: 20px;
    font-weight: 600;
  }

  .list-recent {
    display: flex;
    gap: 16px;
    padding: 5px;
    justify-content: space-between;
    width: 100%;

    .item {
      height: 170px;
      width: 100%;
      min-width: 260px;
      padding: 16px;
      border-radius: 16px;
      overflow: hidden;
      display: flex;
      align-items: space-between;
      justify-content: space-between;
      flex-wrap: wrap;
      box-sizing: border-box;
      gap: 16px;
      background-color: #fff;
      position: relative;

      .line-footer {
        position: absolute;
        inset-inline-start: 0;
        inset-inline-end: 0;
        height: 5px;
        bottom: 0;
      }

      header {
        width: 100%;
        height: calc(100% - 40px);

        .title {
          font-size: 16px;
          font-weight: 600;
        }
      }

      .assembly {
        margin-top: 4px;
        font-size: 12px;
        line-height: 16px;
        font-weight: 600;
        background-color: #edefff;
        width: fit-content;
        padding: 2px 8px;
        border-radius: 10px;
      }

      footer {
        height: fit-content;
        display: flex;
        gap: 8px;
        .thumbnail {
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          width: 24px;
          height: 24px;
          border-radius: 50%;
        }
      }
    }

    .item:hover {
      .line-footer {
        background-color: #b4bae5ac;
      }
    }
  }
}

@media only screen and (max-width: 991px) {
  .main-recent-section {
    .list-recent {
      display: block;
      grid-template-columns: auto;
      .item {
        margin-bottom: 16px;
      }
    }
  }
}
