.modal-course-folder {
  padding-top: 10px;

  .content-course {
    display: grid;
    padding-bottom: 20px;

    .description {
      padding-top: 16px;
      font-size: 16px;
      padding: 0 2px;
    }
    .title {
      font-size: 32px;
      font-weight: 700;
    }

    .content {
      display: grid;
      margin-top: 10px;
      .label-input-modal {
        margin-top: 20px;
      }

      .ant-checkbox {
        scale: 1.2;
      }
    }

    .check-box-input-modal {
      padding-top: 20px;
    }
  }
}
