.create-course-page {
  .header-create-course {
    display: flex;
    justify-content: space-between;
  }

  .title-create {
    font-size: 32px;
    font-weight: 700;
  }

  .button-create {
    background-color: rgb(66, 85, 255);
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    width: 57px;
    height: 40px;
  }

  .button-create:disabled {
    background-color: #d9dde8;
  }

  .content-create-course {
    .input-info-course {
      display: grid;
      gap: 15px;
      max-width: 50%;
    }

    .question-create-course {
      display: grid;
      gap: 20px;

      .card-question {
        min-height: 50px;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;

        .header {
          padding: 16px;
          font-size: 16px;
          font-weight: 700;
          color: #939bb4;
        }

        .ant-divider {
          margin: 0;
        }

        .content {
          padding: 16px;
          display: grid;
          grid-template-columns: auto auto;
          gap: 40px;
        }

        .icon-control {
          .icon-delete {
            color: black;
            cursor: pointer;
            font-size: 20px;
            padding: 5px;
          }

          .icon-delete:hover {
            color: #ffce1f;
          }
        }
      }
    }
  }
}

.input-course {
  display: grid;
  gap: 5px;
  input {
    width: 100%;
    border: 0;
    background-color: transparent;
    outline: none;
    font-weight: 300;
    height: 40px;
  }

  input::placeholder {
    color: #d1d1d1;
    font-weight: 300;
  }

  .line-footer {
    height: 2px;
    background-color: black;
    width: 100%;
  }

  .focus {
    border: none;
    background-color: #ffcd1f;
    margin-top: -2px;
    height: 4px;
  }

  .label {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    .main-label {
      cursor: pointer;
    }

    .sub-label {
      color: #3ccfcf;
      text-transform: uppercase;
      cursor: pointer;
    }

    .sub-label:hover {
      color: #ffcd1f;
    }

    .main-label {
      color: #939bb4;
    }
  }
}

.card-add-new-question {
  height: 118px;
  font-weight: 700;

  .content-add-question {
    border-bottom: 4px solid #3ccfcf;
    padding: 10px 0;
    padding-right: 7px;
    cursor: pointer;
  }

  .content-add-question:hover {
    border-bottom: 4px solid #ffcd1f;
    color: #ffcd1f;
  }
}

.pop-up-left {
  transition: 0.4s;
  background-color: black;
  color: #fff;
  border-radius: 20px;
  width: 350px;
  height: 130px;
  position: fixed !important;
  bottom: -200px;
  left: 50px;
  right: 50px;
  padding: 30px 30px;
  display: grid;

  .button-control {
    display: flex;
    justify-content: end;
    gap: 20px;

    .delete-draft,
    .close-pop-up {
      cursor: pointer;
      padding: 5px 10px;
      border-radius: 10px;
      display: flex;
      align-items: center;
      margin-bottom: -30px;
      height: 40px;
    }

    .delete-draft:hover,
    .close-pop-up:hover {
      background-color: rgba(156, 180, 246, 0.371);
    }
  }
}

@media only screen and (max-width: 1024px) {
  .create-course-page {
    .content-create-course {
      .input-info-course {
        max-width: 100%;
      }
    }
  }

  .pop-up-left {
    left: 50%;
    margin-left: -175px;
  }
}

@media only screen and (max-width: 768px) {
  .pop-up-left {
    left: 30px;
    bottom: 30px;
    margin-left: 0;
    width: calc(100% - 60px);
  }
}
