* {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.224);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.26);
  border-radius: 10px;
  transition: 0.2s;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.398);
}

.min100vh {
  min-height: 100vh;
}

.list-recent {
  display: flex;
  gap: 16px;
  padding: 5px;
  justify-content: space-between;
  width: 100%;

  .item {
    height: 170px;
    width: 100%;
    min-width: 260px;
    padding: 16px;
    border-radius: 16px;
    overflow: hidden;
    display: flex;
    align-items: space-between;
    justify-content: space-between;
    flex-wrap: wrap;
    box-sizing: border-box;
    gap: 16px;
    background-color: #fff;
    position: relative;

    .line-footer {
      position: absolute;
      inset-inline-start: 0;
      inset-inline-end: 0;
      height: 5px;
      bottom: 0;
    }

    header {
      width: 100%;
      height: calc(100% - 40px);

      .title {
        font-size: 16px;
        font-weight: 600;
      }
    }

    .assembly {
      margin-top: 4px;
      font-size: 12px;
      line-height: 16px;
      font-weight: 600;
      background-color: #edefff;
      width: fit-content;
      padding: 2px 8px;
      border-radius: 10px;
    }

    footer {
      height: fit-content;
      display: flex;
      gap: 8px;
      .thumbnail {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 24px;
        height: 24px;
        border-radius: 50%;
      }
    }
  }

  .item:hover {
    .line-footer {
      background-color: #b4bae5ac;
    }
  }
}

.label-input-modal {
  width: 100%;
  min-height: 56px;
  height: fit-content;
  background-color: rgb(246, 247, 251) !important;
  border-radius: 8px;
  box-sizing: border-box;
  color: rgb(88, 99, 128);
  display: flex;
  flex-direction: column;
  font-size: 16px;
  justify-content: center;
  line-height: 26px;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 4px 16px;
  position: relative;
  text-align: left;

  .input {
    position: absolute;
    inset: 0;
    padding: 8px 16px;
    outline: none;
    border: none;
    font-weight: 600;
    background-color: rgb(246, 247, 251) !important;
  }

  .label {
    position: absolute;
    top: 0;
    font-weight: 600;
    font-size: 12px;
  }

  .small {
    margin-bottom: 0;
    margin-top: 20px;
    bottom: 0;
  }

  .line-footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 2px;
    background-color: black;
    inset-inline-end: 0;
    inset-inline-start: 0;
    display: none;
  }
}

.button-quiz-love {
  background-color: #4255ff;
  min-height: 40px !important;
  font-weight: 600 !important;
}

.button-disabled {
  background-color: #d9dde8 !important;
  color: white !important;
}

.hidden-scrollbar::-webkit-scrollbar {
  display: none;
}

.main-content-children {
  margin-top: 63px;
}

.shadow-card {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.App {
  overflow: hidden;
  background-color: #f6f7fb !important;
  min-height: 160vh;
}

.flex-center-all {
  display: flex;
  justify-content: center;
  align-items: center;
}

.none-copy {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.cursor-pointer {
  cursor: pointer;
}

.transition-02 {
  transition: 0.2s;
}

.remove-style-button {
  background-color: transparent !important;
  border: none !important;
}

.TopNavigationWrapper {
  box-sizing: border-box;
  position: -webkit-sticky;
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
}

.TopNavigation {
  box-sizing: border-box;
  width: 100%;
  height: 64px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  color: #282e3e;
  display: flex;
  height: 4rem;
  padding: 0 1rem;

  .TopNavigation-content {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .TopNavigation-contentLeft {
      display: flex;
      justify-content: center;
      align-items: center;

      .logo-mini {
        display: none;
        cursor: pointer;
        width: 25px;
        height: 25px;
        margin-left: 8px;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url("https://assets.quizlet.com/a/j/dist/app/i/logo/2021/q-twilight.e27821d9baad165.png");
      }

      .button-menu-left {
        display: none;
        border-radius: 50%;
        padding: 8px;
        cursor: pointer;
        scale: 1.2;
      }
      .button-menu-left:hover {
        background-color: rgba(231, 231, 231, 0.554);
      }

      .logo {
        padding: 0 16px;
        height: 100%;
        align-items: center;
        display: flex;
        justify-content: center;
        width: 115px;
        padding: 0 0.75rem 0 0.5rem;
        color: #4255ff;
        font-size: 27px;
        font-weight: 700;
      }

      .TopNavigation-menuItems {
        display: flex;
        white-space: nowrap;
        height: 100%;

        .item {
          height: 100%;
          color: black;
          font-size: 14px;
          padding: 0 12px;
          font-weight: 600;

          .text {
            position: relative;
            display: flex;
            align-items: center;
            height: 100%;
            cursor: pointer;
            display: flex;
            align-items: center;
            gap: 8px;

            .line-footer-nav {
              transition: 0.4s;
              opacity: 0;
              bottom: 0;
              inset-inline-start: 0;
              inset-inline-end: 0;
              position: absolute;
              height: 4px;
              background-color: #a8b1ff;
              border-top-right-radius: 5px;
              border-top-left-radius: 5px;
            }
          }

          .text:hover {
            .line-footer-nav {
              opacity: 1 !important;
            }
          }
        }
      }
    }

    .TopNavigation-contentMiddle {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .FullSearchNavigationItem {
        display: flex;
        width: 100%;
        height: 100%;
        padding: 0 1.5rem;
        align-items: center;

        .ant-input-affix-wrapper {
          height: 40px;
        }

        .icon-search {
          color: gray;
          padding-right: 4px;
        }

        .ant-btn {
          display: none;
        }

        .ant-input-affix-wrapper {
          border-radius: 20px;
        }
      }

      .RightNavigationItem {
        gap: 16px;

        .icon-plus {
          width: 40px;
          height: 40px;
          background-color: #4255ff;
          color: #fff;
          border-radius: 50%;
          font-size: 20px;
        }

        .icon-plus:hover {
          background-color: #273ae2;
        }

        .login-button {
          cursor: pointer;
          background-color: none;
          border: none;
          font-weight: 600;
          font-size: 14px;
          width: 104px;
          height: 40px;
          color: #586380;
          background-color: #fff;

          border-radius: 10px;
          transition: 0.2s;
        }

        .register-button {
          color: black;
          cursor: pointer;
          background-color: none;
          border: none;
          font-weight: 600;
          font-size: 14px;
          width: 104px;
          height: 40px;
          background-color: #ffce1f;
          border-radius: 10px;
          transition: 0.2s;
        }

        .login-button:hover {
          background-color: #ededed;
        }

        .register-button:hover {
          background-color: #fadd73;
        }
      }
    }
  }
}

.show-modal {
  top: 0 !important;
  opacity: 1 !important;
}

.modal-login-register {
  transition: 0.2s;
  opacity: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  top: -100vh;
  z-index: 1001;
  display: grid;
  grid-template-columns: 50% 50%;
  background-color: #fff;

  .content-login-register-left {
    background-image: url("https://assets.quizlet.com/_next/static/media/QZ_Auth_Design_backg_v2.fb6ef9bb.png");
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;

    .content-right-login,
    .content-right-register,
    .logo-footer {
      padding: 42px;
      color: #fff;
      font-size: 44px;
    }

    .content-right-login {
      max-width: 300px;
      height: calc(100vh - 220px);
    }

    .content-right-register {
      max-width: 500px;
      height: calc(100vh - 220px);
    }
  }
  .content-login-register-right {
    overflow-y: scroll;
    padding: 16px;
    display: none;

    .header-login-register {
      position: fixed;
      display: flex;
      justify-content: end;
      top: 20px;
      right: 20px;

      .icon-close-login-register {
        font-size: 22px;
        color: rgb(43, 43, 43);
        scale: 1.1;
      }
    }

    .content-login-register {
      padding: 64px 32px;
      display: grid;
      gap: 60px;

      .form-login {
        display: grid;
        gap: 20px;
        .button-submit-login {
          height: 70px;
          background-color: #3ccfcf;
          color: #fff;
          font-size: 18px;
          font-weight: 600;
        }

        .input-login {
          height: 50px;
        }

        .warning-login {
          font-size: 12px;
          font-weight: 300;

          a {
            opacity: 0.7;
            color: black;
            font-weight: 700;
            transition: 0.2s;
          }

          a:hover {
            opacity: 1;
          }
        }

        .button-move-to-register {
          margin-top: 20px;
          height: 46px;
          border: 2px solid rgb(208, 208, 208);
          border-radius: 2px;

          button {
            color: #3ccfcf;
          }
        }
      }

      .group-button-login-register {
        display: flex;
        align-items: center;
        gap: 25px;

        .login-button,
        .register-button {
          font-size: 25px;
          font-weight: 600;
          color: rgb(133, 133, 133);
          display: grid;
          align-items: center;
          gap: 2px;
        }

        .login-button,
        .register-button {
          .line-footer {
            opacity: 0;
            height: 5px;
            width: 100px;
            margin: auto auto;
            background-image: url("https://assets.quizlet.com/_next/static/media/accents_underline_modified.d4e92e44.svg");
          }

          .show-line {
            opacity: 1;
          }
        }

        .selected {
          color: black;
        }
      }
    }
  }
}

.icon-avatar-user-header {
  width: 40px;
  height: 40px;
  color: #fff;
  border-radius: 50%;
  font-size: 20px;
  border: 1px solid gray;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hidden-user {
  width: 0;
}

.ant-popover-inner {
  padding: 0 !important;
}

.popover-info-user {
  min-width: 200px;
  .header-popover {
    padding: 12px 24px;
    display: flex;
    align-items: center;
    gap: 8px;

    .info-user {
      display: grid;

      span {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 155px;
      }

      .name {
        font-weight: 500;
      }

      .email {
        font-weight: 300;
      }
    }
  }

  .divider-user {
    margin: 0;
  }

  .setting-user {
    box-sizing: border-box !important;

    .icon {
      font-size: 20px;
    }

    .item {
      width: 100%;
      transition: 0.2s;
    }

    .item:hover {
      background-color: rgba(227, 227, 227, 0.433) !important;
      cursor: pointer;
    }

    .user-info {
      padding: 12px 24px;
      max-width: 100%;
      display: flex;
      align-items: center;
      gap: 16px;
    }
  }
}

.popover-course-folder {
  width: 210px;
  height: 140px;
  display: grid;
  padding: 8px 0;

  .item {
    padding: 0 16px;
    display: flex;
    align-items: center;
    gap: 8px;
    color: rgb(68, 68, 68);

    .icon {
      width: 30px;
      height: 30px;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 50%;
      font-size: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .item:hover {
    background-color: rgba(227, 227, 227, 0.433) !important;
    cursor: pointer;
  }
}

.footer-quiz-love {
  display: grid;
  grid-template-columns: auto;

  .footer-bottom {
    height: fit-content;
    padding: 32px;
    display: grid;
    grid-template-columns: 50% 50%;

    .bottom-left {
      display: grid;
      align-items: space-between;
      gap: 4px;

      .button-left-link {
        gap: 14px;
        display: flex;
        align-items: center;

        .IconFont {
          width: 1rem;
          height: 1rem;
          font-size: 13px;
          border-radius: 50%;
          padding: 9px;
          cursor: pointer;
          color: black;
        }

        .IconFont:hover {
          background-color: #eaeaea;
        }
      }

      .button-left-copy-right {
        height: fit-content;
      }
    }

    .bottom-right {
      display: flex;
      justify-content: end;
    }
  }
}

.upgrade-plan-real {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
}

.home-guest {
  .parent-banner {
    height: 720px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-image: url("https://images.prismic.io/quizlet-web/ZDRiOGI2MTEtOTU1NS00Y2Q1LWJjN2QtM2Y2NzYwYTJhODQ1_6aa15201-1bbd-4bab-803d-93e7d2d4110e_altimage128129.png?auto=compress,format&rect=0,0,2880,1317&w=2880&h=1317");
  }

  .banner {
    padding: 82px 87px;
  }

  .banner-content {
    padding: 97px 48px;
    max-width: 560px;
    display: grid;
    grid-template-columns: auto;
    gap: 16px;

    .button-register-banner {
      max-width: 179px;
      height: 48px;
      background-color: #4255ff;
      font-size: 16px;
      font-weight: 600;
      color: #fff;
      border-radius: 8px;
      margin-top: 16px;
    }

    .button-register-banner:hover {
      background-color: #3647dc;
    }

    .content-header {
      font-size: 44px;
      color: #fff;
      line-height: 56px;
    }

    .content-paragraph {
      color: #fff;
      font-size: 20px;
      line-height: 28px;
    }
  }

  .percent-student {
    text-align: center;
    padding: 90px 16px;
    span {
      font-size: 32px;
      line-height: 40px;
      font-weight: 700;
    }
  }

  .banner-memory {
    box-sizing: border-box;
    padding: 32px;
    display: grid;
    grid-template-columns: calc(50% - 30px) calc(50% - 30px);
    gap: 60px;
    max-width: 1056px;
    margin: auto;

    align-items: center;

    .banner-memory-left {
      h2 {
        font-size: 32px;
        font-weight: 700;
        line-height: 40px;
      }

      p {
        font-size: 20px;
        line-height: 28px;
        padding: 48px 0;
      }

      button {
        border-radius: 8px;
        color: #fff;
        background-color: #4255ff;
        width: 121px;
        height: 64px;
        font-weight: 600;
      }

      button:hover {
        background-color: #3647dc;
      }
    }

    .banner-memory-right {
      width: 100%;
      img {
        width: 100%;
      }
    }
  }
}

.popover-subjects {
  width: 530px;
  height: 365px;
  border-radius: 20px;
  display: grid;
  grid-template-columns: 345px auto;
  font-weight: 600;

  .content-left {
    padding: 8px 0;
    border-right: 0.5px solid rgb(185, 185, 185);

    .active {
      background-color: rgb(224, 222, 222);
    }

    .item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 50px;
      padding: 0 8px;
    }

    .item:hover {
      background-color: rgb(224, 222, 222);
    }
  }

  .content-right {
    padding: 8px 0;

    .item {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 50px;
      padding: 0 8px;
    }

    .item:hover {
      background-color: rgb(224, 222, 222);
    }

    .last-item {
      color: #4255ff;
    }
  }
}

// Responsive
@media only screen and (max-width: 1024px) {
  .TopNavigation {
    .TopNavigation-content {
      .TopNavigation-contentLeft {
        .logo-mini {
          display: block;
        }
        .button-menu-left {
          display: block;
        }

        .logo {
          display: none;
        }
        .TopNavigation-menuItems {
          display: none;
        }
      }

      .TopNavigation-contentMiddle {
        .FullSearchNavigationItem {
          padding: 0 16px;
        }
      }
    }
  }

  .modal-login-register {
    grid-template-columns: auto;
    .content-login-register-left {
      display: none;
    }

    .content-login-register-right {
      height: 100vh;
      .content-login-register {
        padding: 50px 32px;
        gap: 20px;
      }
    }
  }

  .home-guest {
    .banner {
      height: 560px;
      padding: 82px 30px;
    }

    .banner-content {
      max-width: 400px;
      padding: 48px;
      .content-header {
      }

      .content-paragraph {
        font-size: 16px;
        line-height: 20px;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .home-guest {
    .banner {
      padding: 30px;
    }

    .parent-banner {
      background-image: url("https://images.prismic.io/quizlet-web/MTlhYjE3NGUtZTNmYi00NTVkLWE0OGUtZDFjYjIzMmU1YzRk_18a3a46a-b31f-41cb-b02c-ab857d3daa7d_mobilehero.png?auto=compress,format&rect=0,0,990,1800&w=990&h=1800");
    }

    .banner-content {
      padding: 16px;
    }

    .percent-student {
      padding: 90px 16px;
      span {
        font-size: 24px;
        line-height: 32px;
      }
    }

    .banner-memory {
      display: flex;
      padding: 16px;
      flex-direction: column-reverse;
      flex-wrap: wrap;
      padding-top: 0;

      .banner-memory-left {
        h2 {
          font-size: 24px;
        }

        p {
          font-size: 16px;
          margin: 0;
        }

        button {
          border-radius: 8px;
          color: #fff;
          background-color: #4255ff;
          width: 121px;
          height: 64px;
          font-weight: 600;
        }

        button:hover {
          background-color: #3647dc;
        }
      }

      .banner-memory-right {
        width: 100%;
        img {
          width: 100%;
        }
      }
    }
  }
}

@media only screen and (max-width: 620px) {
  .main-content-children {
    margin-top: 111px;
  }

  .home-guest {
    .banner {
      padding: 30px;
    }

    .banner-content {
      padding: 16px;
      max-width: 328px;

      .content-header {
        font-size: 24px;
        line-height: 32px;
      }
    }
  }

  .icon-avatar-user-header {
    display: none;
  }

  .TopNavigation {
    .TopNavigation-content {
      .TopNavigation-contentMiddle {
        .FullSearchNavigationItem {
          height: fit-content;
          position: fixed;
          width: 100%;
          top: 63px;
          left: 0;
          z-index: 1000;
          background-color: #fff;
          padding: 10px;
          padding-top: 0;
          border: none;
          box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        }
      }
    }
  }
}
